.d-none {
    display: none !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/9_intro_outro_screens/bg.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation-container {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10%;
    font-size: 20px;
}

.explanation-inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-panel-move {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.control-panel-move img {
    width: 50px;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    border: 5px solid rgba(255, 255, 255, 0);
}

.control-panel-action {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.control-panel-action img {
    width: 50px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    border: 5px solid rgba(255, 255, 255, 0);
}

.startscreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.play-button {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100px;
    transition: all 125ms ease-in-out;
    filter: invert(1);    
    background-color: #002bff;
    border-radius: 63px;
    padding: 0 3px;
}

.play-button:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.back-button {
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    color: beige;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-size: 35px;
    height: 47px;
    transition: all 125ms ease-in-out;
    filter: invert(1);
    background-color: #002bff;
    border-radius: 63px;
    padding: 5px;
}

.back-button:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.speaker-icon {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    background-color: gold;
    border: 5px solid gold;
    border-radius: 5px;
}

.speaker-muted {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    background-color: gold;
    border: 5px solid gold;
    border-radius: 5px;
}

.speaker-icon:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.speaker-muted:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.fullscreen-btn {
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 20px;
    background-color: gold;
    border: 5px solid gold;
    border-radius: 5px;
}

.fullscreen-btn:hover {
    transform: scale(1.025);
    cursor: pointer;}

.exit-icon {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    background-color: gold;
    border: 5px solid gold;
    border-radius: 5px;
}

.exit-icon:hover {
    transform: scale(1.025);
    cursor: pointer;
}

canvas {
    background-color: black;
    display: block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-height: 100vh;
}

.turn-display-container {
    display: none;
}

/*----------Smartphones----------*/

@media only screen and (max-width: 992px) {
    .control-panel-action, .control-panel-move {
        display: unset;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .play-button {
        top: 5px;
        width: 80px;
    }

    .fullscreen-btn {
        display: none;
    }
}

@media only screen and (max-width: 450px){
    .content {
    display: none;
    }

    .turn-display-container {
        display: unset;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

